@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
box-sizing: border-box;
line-height: 1.5em;
}

html {
font-size: 16px;
scroll-behavior: smooth;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;
font-family: "Open Sans", sans-serif;
background-color: 
#f7f7f7;
}

header {
  padding: 10px 20px;
  min-height: 100vh;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
}
header .wrapper {
max-width: 1000px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.navbar {
position: fixed;
top: 0;
left: 100%;
margin: 0;
width: 100%;
height: 100%;
background-color: 
black;
padding: 20px;
transition: left 0.3s;
}

.navbar.show {
left: 0 !important;
}

.hide-scroll {
overflow: hidden;
}

.navbar ul {
all: unset;
list-style-type: none;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
}
.navbar ul a {
  text-decoration: none;
  color:white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent ;
  transition: .5s;
}

nav ul li a:hover,
nav ul li a:focus{
  text-decoration: underline;
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
}
.close-nav {
  color: white;
text-align: right;
margin-bottom: 20px;
}
.close-nav button {
all: unset;
font-size: 42px;
cursor: pointer;
border: 1px solid 
rgba(190, 174, 174, 0.2);
padding: 15px;
border-radius: 3px;
}

.menu-bar button {
border: 1px solid 
rgba(0, 0, 0, 0.1);
background: 
#f7f7f7;
height: 50px;
width: 50px;
padding: 5px 10px;
cursor: pointer;
border-radius: 3px;
}
.menu-bar i {
display: block;
border-top: 3px solid 
#444444;
border-bottom: 3px solid 
#444444;
}
.menu-bar i::after {
display: block;
content: "";
border-top: 3px solid 
#444444;
margin: 6px 0;
}
.menu-bar button:hover {
background: 
white;
}
.menu-bar button:hover i {
border-color: 
#222222;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.change_content::after{
  content: 'School';
  animation: changetext 5s infinite linear;
  color: #2b39ff;
}

@keyframes changetext{
  50%{content: "Campus";
  color: aliceblue;}
}
.font-color-change::after{
  content: 'Nepal Adarsha ';
  animation: font-color-change 0.9s infinite linear;
  color: aqua;
}

@keyframes font-color-change{
  50%{content: "Nepal Adarsha ";
  color: #fff;}
}
.main-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.main-btn:hover{
  border: 1px solid #2b39ff;
  background: #2b39ff;
  transition: 1s;
}

.container {
max-width: 900px;
margin: 0 auto;
padding: 30px;
}

@media (min-width: 992px) {
.navbar {
all: unset;
display: block;
}
.navbar ul {
flex-direction: row;
gap: 20px;
}
.navbar ul a {
font-size: inherit;
}
.close-nav,
.menu-bar {
display: none;
}
}
@media (max-width: 992px) {
  .font-color-change{
    font-size: 30px;
  }
  .change_content{
    font-size: 30px;
  }
  .main-btn{
    font-size: 25px;
  }
  .text-box p{
    font-size: 15px;
  }
}