*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;   
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #2b39ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.change_content::after{
    content: 'School';
    animation: changetext 5s infinite linear;
    color: #2b39ff;
}

@keyframes changetext{
    50%{content: "Campus";
    color: aliceblue;}
}

.main-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.main-btn:hover{
    border: 1px solid #2b39ff;
    background: #2b39ff;
    transition: 1s;
}

nav .fa-solid {
    display: none;
}

.font-color-change::after{
    content: 'Nepal Adarsha ';
    animation: font-color-change 0.9s infinite linear;
    color: aqua;
}

@keyframes font-color-change{
    50%{content: "Nepal Adarsha ";
    color: #fff;}
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 42px;
    }

    .nav-links ul li{
        display: block;
    }
     .nav-links{
        position: absolute;
        background: #2b39ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
     }

     nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
     }

     .nav-links ul{
        padding: 30px;
     }
}

/*----------- course ---------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 1080px){
    .row{
        flex-direction: column;
    }
}

/*-------------campus------------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(214, 214, 216, 0.795);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.images-for-divisions{
    height: 300px;
}

/*----------------facilities--------------*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----------------testimonials--------------*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
} 

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa-solid{
    color: #f44336;
}

.testimonial-col .fa-regular{
    color: #f44336;
}

@media(max-width: 1080px){
    .testimonial-col img{
        margin-left: 5px;
        margin-right: 15px;
    }
}

/*--------call to action--------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
}

.change-font-color::after{
    content: 'Apply For Admission Online - ';
    animation: change-font-color 2s infinite linear;
    color: red;
}

@keyframes change-font-color{
    50%{content: "Apply For Admission Online - ";
    color: skyblue;}
}

.word-replace::after{
    content: 'Anytime';
    animation: word-replace 2s infinite linear;
    color: #666;
}

@keyframes word-replace{
    50%{content: "Anywhere";
    color: #fff;}
}

@media(max-width: 1080px){
    .cta h1{
        font-size: 24px;
    }
}

/*------------------footer----------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-brands{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart{
    color: red;
}

/*---------------------course page--------------------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.courses-we-offer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .school-level-button,
  .college-level-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #eee;
    color: #333;
  }
  
  .school-level-button:hover,
  .college-level-button:hover,
  .school-level-button:active,
  .college-level-button:active {
    background-color: #555;
    color: #fff;
  }
  
  .change-levels-for-school::after{
    content: 'School Level';
    animation: change-levels-for-school 2s infinite linear;
    color: skyblue;
}

@keyframes change-levels-for-school{
    50%{content: "School Level";
    color: skyblue;}
}
.change-levels-for-college::after{
    content: 'College Level';
    animation: change-levels-for-college 2s infinite linear;
    color: skyblue;
}

@keyframes change-levels-for-college{
    50%{content: "College Level";
    color: skyblue;}
}

/*-----------------About Page------------------*/

.sub-header-about{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header-about h1{
    margin-top: 100px;
}

.main-font{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}


